<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" requirePermission="false"/>
	</configSections>
	<unity configSource="Unity.config" />
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.ComplexEventProcessing" publicKeyToken="89845DCD8080CC91" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.ComplexEventProcessing.Adapters" publicKeyToken="89845DCD8080CC91" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<appSettings>
		<add key="SelfSiteId" value="a8f23514-e2bf-4fb4-aafd-c3abd4802705" />
		<add key="SaveRequestsToDb" value="False" />
	</appSettings>
</configuration>
