@{
    ViewBag.Title = "ForgotPasswordSuccess";
	ViewBag.CurrentMenuItem = "forgotpasswordsuccess";
}
<div id="info">
<h1>A new password was send to your email address. Please, check your mail and login in with your new password.</h1>
</div>
