<?xml version="1.0" encoding="UTF-8"?>
<!-- 
		Note: As an alternative to hand editing this file you can use the 
		web admin tool to configure settings for your application. Use
		the Website->Asp.Net Configuration option in Visual Studio.
		A full list of settings and comments can be found in 
		machine.config.comments usually located in 
		\Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
	<alias alias="ICache" type="DCT.Monitor.Cache.ICache, DCT.Monitor.Cache" />
	<alias alias="Memcached" type="DCT.Monitor.Cache.Memcached, DCT.Monitor.Cache" />
	<alias alias="DictionaryCache" type="DCT.Monitor.Cache.DictionaryCache, DCT.Monitor.Cache" />
	<alias alias="ISqlConnector" type="My.SqlEngine.ISqlConnector, My.SqlEngine" />
	<alias alias="SqlConnector" type="Monitor.DAL.SqlConnector, Monitor.DAL" />

	<!-- modules -->
	<alias alias="IRequestModule" type="DCT.Monitor.Modules.IRequestModule, DCT.Monitor.Modules" />
	<alias alias="IDomainStatisticsDataSourceModule" type="DCT.Monitor.Modules.IDomainStatisticsDataSourceModule, DCT.Monitor.Modules" />
	<alias alias="IDomainStatisticsModule" type="DCT.Monitor.Modules.IDomainStatisticsModule, DCT.Monitor.Modules" />
	<alias alias="IGeolocationModule" type="DCT.Monitor.Modules.IGeolocationModule, DCT.Monitor.Modules" />
	<alias alias="IProviderModule" type="DCT.Monitor.Modules.IProviderModule, DCT.Monitor.Modules" />
	<alias alias="IUserModule" type="DCT.Monitor.Modules.IUserModule, DCT.Monitor.Modules" />
	<alias alias="ISiteManagerModule" type="DCT.Monitor.Modules.ISiteManagerModule, DCT.Monitor.Modules" />
	<alias alias="ICacheManagerModule" type="DCT.Monitor.Modules.ICacheManagerModule, DCT.Monitor.Modules" />
	<alias alias="IPageModule" type="DCT.Monitor.Modules.IPageModule, DCT.Monitor.Modules" />
	<alias alias="IConfigurationModule" type="DCT.Monitor.Modules.IConfigurationModule, DCT.Monitor.Modules" />

	<!-- dal -->
	<alias alias="IUserRepository" type="Monitor.DAL.IUserRepository, Monitor.DAL" />
	<alias alias="IRequestRepository" type="Monitor.DAL.IRequestRepository, Monitor.DAL" />
	<alias alias="ISiteRepository" type="Monitor.DAL.ISiteRepository, Monitor.DAL" />
	<alias alias="IProviderRepository" type="Monitor.DAL.IProviderRepository, Monitor.DAL" />
	<alias alias="IGeolocationRepository" type="Monitor.DAL.IGeolocationRepository, Monitor.DAL" />
	<alias alias="IPageRepository" type="Monitor.DAL.IPageRepository, Monitor.DAL" />

	<!-- implementations -->
	<alias alias="StreamInsightRequestModule" type="DCT.Monitor.Modules.Implementation.RequestModule.StreamInsightRequestModule, DCT.Monitor.Modules.Implementation" />
  <alias alias="RawRequestModule" type="DCT.Monitor.Modules.Implementation.RequestModule.RequestModule, DCT.Monitor.Modules.Implementation" />
  <alias alias="RawGatheringRequestModule" type="DCT.Monitor.Modules.Implementation.RequestModule.RawGatheringRequestModule, DCT.Monitor.Modules.Implementation" />
  <alias alias="DummyRequestModule" type="DCT.Monitor.Modules.Implementation.RequestModule.DummyRequestGatheringModule, DCT.Monitor.Modules.Implementation" />
  <alias alias="StreamInsightRequestGatheringModule" type="DCT.Monitor.Modules.Implementation.RequestModule.StreamInsightRequestGatheringModule, DCT.Monitor.Modules.Implementation" />
	<alias alias="CachedDomainStatistics" type="DCT.Monitor.Modules.Implementation.DomainStatisticsModule.CachedDomainStatistics, DCT.Monitor.Modules.Implementation" />
	<alias alias="CacheDataSource" type="DCT.Monitor.Modules.Implementation.DataSource.CacheDataSource, DCT.Monitor.Modules.Implementation" />
	<alias alias="QueriesCore" type="DCT.Monitor.StreamInsight.QueriesCore, DCT.Monitor.StreamInsight" />
	<alias alias="UserModule" type="DCT.Monitor.Modules.Implementation.UserModule.UserModule, DCT.Monitor.Modules.Implementation" />
	<alias alias="SiteManagerModule" type="DCT.Monitor.Modules.Implementation.SiteManager.SiteManagerModule, DCT.Monitor.Modules.Implementation" />
	<alias alias="ProviderModule" type="DCT.Monitor.Modules.Implementation.ProviderModule.ProviderModule, DCT.Monitor.Modules.Implementation" />
	<alias alias="GeolocationModule" type="DCT.Monitor.Modules.Implementation.GeolocationModule.GeolocationModule, DCT.Monitor.Modules.Implementation" />
	<alias alias="CacheManagerModule" type="DCT.Monitor.Modules.Implementation.CacheManagerModule.CacheManagerModule, DCT.Monitor.Modules.Implementation" />
	<alias alias="PageModule" type="DCT.Monitor.Modules.Implementation.PageModule.PageModule, DCT.Monitor.Modules.Implementation" />
	<alias alias="WebConfigurationModule" type="DCT.Monitor.Modules.Implementation.ConfigurationModule.WebConfigurationModule, DCT.Monitor.Modules.Implementation" />

  <alias alias="ILog" type="DCT.LoggingServices.ILog, DCT"/>
  <alias alias="Logger" type="DCT.Monitor.Server.Providers.EntLibLogger, Skyner.Server"/>
	
  <!-- implementations dal -->
	<alias alias="UserRepository" type="Monitor.DAL.Implementation.Users.MsSqlUserRepository, Monitor.DAL" />
	<alias alias="SiteRepository" type="Monitor.DAL.Implementation.Sites.MsSqlSiteRepository, Monitor.DAL" />
	<alias alias="ProviderRepository" type="Monitor.DAL.Implementation.Providers.MsSqlProviderRepository, Monitor.DAL" />
	<alias alias="GeolocationRepository" type="Monitor.DAL.Implementation.Geolocations.MsSqlGeolocationRepository, Monitor.DAL" />
	<alias alias="RequestDummiRepository" type="Monitor.DAL.RequestDummiRepository, Monitor.DAL" />
	<alias alias="PageRepository" type="Monitor.DAL.Implementation.Pages.MsSqlPageRepository, Monitor.DAL" />

	<container>
		<register type="ICache" mapTo="DictionaryCache">
			<lifetime type="singleton" />
		</register>

		<register type="ISqlConnector" mapTo="SqlConnector">
			<lifetime type="singleton" />
			<constructor>
				<param name="connectionString" value="Data Source=danilchenko;Initial Catalog=MonitorDB;User ID=sa;Password=password" />
			</constructor>
		</register>

		<register type="QueriesCore">
			<lifetime type="singleton" />
			<constructor>
				<param name="instance" value="StreamInsight" />
				<param name="distinctNeeded" value="false" />
			</constructor>
		</register>

		<register type="IDomainStatisticsDataSourceModule" mapTo="CacheDataSource" />
		<register type="IDomainStatisticsModule" mapTo="CachedDomainStatistics" />
		<register type="IGeolocationModule" mapTo="GeolocationModule" />
		<register type="IProviderModule" mapTo="ProviderModule" />
    <register type="IRequestModule" mapTo="StreamInsightRequestModule" />
    <!--<register type="IRequestModule"  mapTo="RawRequestModule" />-->     
    <register type="IRequestModule" name="requests" mapTo="RawGatheringRequestModule" />
    <!--<register type="IRequestModule" name="requests" mapTo="StreamInsightRequestGatheringModule" />-->
		<register type="IUserModule" mapTo="UserModule" />
		<register type="ISiteManagerModule" mapTo="SiteManagerModule" />
		<register type="ICacheManagerModule" mapTo="CacheManagerModule" />
		<register type="IPageModule" mapTo="PageModule" />
		<register type="IConfigurationModule" mapTo="WebConfigurationModule" />

		<register type="IUserRepository" mapTo="UserRepository" />
		<register type="IGeolocationRepository" mapTo="GeolocationRepository" />
		<register type="IProviderRepository" mapTo="ProviderRepository" />
		<register type="ISiteRepository" mapTo="SiteRepository" />
		<register type="IRequestRepository" mapTo="RequestDummiRepository" />
		<register type="IPageRepository" mapTo="PageRepository" />
    <register type="ILog" mapTo="Logger"/>
    
	</container>
</unity>
