@using DCT.Monitor.Server.Helpers;

<div id="blocks">
	<ul>
		<li> <img src="@Url.Content("~/Content/img/img1.png")" alt="" title="" />
			@*<h2><a href="#" title="">One click Desktop access</a></h2>*@
			<p>One click <b>to download a desktop client</b> for Monator to always know about users’ activity on your site using Monator from your computer.</p>
			<p class="more"><a href="@*@Url.Downloads().AsUrl()*@/distributives/win/setup.exe" title="">Download</a></p>
		</li>
		<li> <img src="@Url.Content("~/Content/img/img3.png")" alt="" title="" />
			@*<h2><a href="#" title="">One click Desktop access</a></h2>*@
			<p>One click <b>to become a user of the web-client</b> of Monator to always know about users’ activity on your site using Monator from the Internet.</p>
			@*<p class="more"><a href="#" title="">Download</a></p>*@
			<p class="more"><br /></p>
		</li>
	</ul>
</div>




