@{
    ViewBag.Title = "ContactUsSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.CurrentMenuItem = "contact";
}

<div id="info">
	<h2>Your message was successfully sent.</h2>
</div>
